.DS_Store
Zeffer.xcodeproj/project.xcworkspace
Zeffer.xcodeproj/xcuserdata
Zeffer-Client.xcworkspace/xcuserdata
UserInterfaceState.xcuserstate
build
.pt
*~
*.orig
.irb-history
*.orig
.idea/
*.dSYM.zip
*.ipa
.bundle/
.gitconfig
.pivotal_cache
.pivotalrc
